@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,*:focus,*:hover{
    outline: none !important;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.trumbowyg-editor pre {
    vertical-align: top;
    white-space: pre;
    @apply p-2;
    @apply bg-gray-300;
    @apply overflow-auto;
    @apply font-mono;
    @apply w-full;
    @apply inline-block;
    @apply rounded;
}

.post-container > div {
    @apply px-2;
}

.post-container {
    @apply pb-2;
}

@media (min-width: 640px) {
    .post-container > div {
        @apply px-4;
    }

    .post-container {
        @apply pb-4;
    }
}

@media  (min-width: 768px) {
    .post-container > div {
        @apply px-14;
    }

    .post-container {
        @apply pb-14;
    }
}

@media (min-width: 1024px) {
    .post-container > div {
        @apply px-24;
    }

    .post-container {
        @apply pb-24;
    }
}
